

* {
  user-select: none;
  padding: 0px;
  box-sizing: border-box;
}
.welcome{
  display: flex;
  position: absolute;
  font-family: Georgia ;
  text-decoration: double;
  font-weight: 700;
  top: 300px;
  color: #000;
}

.logo{
  font-family: Georgia ;
  text-decoration: double;
  text-align: left;
  font-weight: 700;
  color: white;
  text-shadow: whitesmoke 0 0 5px;
}

header{
  position: absolute;
  background-color: #352F44 ;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 50px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  cursor: none;
  overflow: hidden;
}

.navi{
  font-family: Tahoma ;
  display: flex;
  gap: 40px;
  text-align: end ;
  z-index: 100;
  text-shadow: black 0 0 2px;
}

.navi li {
  list-style: none;
  
}

.navi li a {
  cursor: none;
  text-decoration: none;
  padding: 6px 15px;
  color: #B9B4C7;
  border-radius: 50px;
  border: 5px;
  
}

.navi li a:hover
{
  cursor: none;
  color: #ffffff;
  background: #000;
  
}

.navi li a.active
{
  color: #ffffff;
  background: #5C5470;
}

.image3{
  position: relative;
  right: -110px;
  top: -30px;
  position:inherit;
  padding: 0px;
  max-width: 100%;
}


body {
  margin: 0;
  min-height: 100vh;
  cursor: none;
  background-color: #FAF0E6;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: width 0.3s ease, height 0.3s ease;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
  z-index: 99999;

  /* Invert blend effect */
  mix-blend-mode: difference;
}

/* Grow effect */
.cursor-grow {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.6);
}

section{
user-select: none;
position: absolute;
width: 100%;
height: 750px;
padding-top: 120px;
display: flex;
background-image: #FAF0E6;
color: white;

}

.draggable-window {
  width: 300px;
  background: #FAF0E6;
  border: 1px solid #444;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 100px;
  display: none;
  resize: both;
  overflow: auto;
  z-index: 9999;
  cursor: none;
}

.window-header {
  background: #5C5470;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.window-body {
  padding: 20px;
  color: black;
  align-items: center;
}

.title {
  color: #B9B4C7;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: none;
}

.para{
  padding-top: 180px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}